# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.user
*.suo

# .NET / Visual Studio
.vs/
artifacts/
*.userprefs

# Test / coverage
*.coverage
*.coverage.xml
TestResults/
*.trx

# Logs
*.log
logs/

# NuGet
*.nupkg
packages/

# OS files
Thumbs.db
Desktop.ini
.DS_Store

# Local config / secrets
*.local.json
appsettings.local.json